[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markdown = "*"
openai = "*"
tkhtmlview = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
